.home-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.home-header {
    text-align: center;
    margin-bottom: 20px;
}

.home-body {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.home-body button{
    
    width: 100px;
    margin-top: 10px;
    padding: 4px;
}

.link-container {
    text-align: center;
}

.link-container p {
    margin-bottom: 10px;
}

.link-container input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 14px;
    box-sizing: border-box;
}

.link-container input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
}
